# Created by https://www.toptal.com/developers/gitignore/api/python,visualstudiocode,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=python,visualstudiocode,windows

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__
.pytest_cache
*.py[cod]
*$py.class

.venv

finance.db

.coverage

test.db